* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.app {
  text-align: center;
  width: 100%; }

/* TABS STYLES */
.tabs {
  background-color: #272C2F;
  width: 100vw;
  height: 10vh; }
  .tabs a {
    color: #FFF; }
    .tabs a:hover {
      color: #b5e0dc; }
  .tabs .tab {
    width: 20%;
    line-height: 10vh;
    display: inline-block; }
  .tabs .home {
    font-size: 1rem;
    margin-right: 5px; }
  .tabs .hamburger-menu {
    display: none;
    margin: 0;
    padding: 5px; }
    .tabs .hamburger-menu .bar1, .tabs .hamburger-menu .bar2, .tabs .hamburger-menu .bar3 {
      width: 35px;
      height: 5px;
      background-color: #FFF;
      margin: 6px 0; }
  @media only screen and (max-width: 715px) {
    .tabs {
      height: auto; }
      .tabs .hamburger-menu {
        display: block;
        padding: 10px 0 10px 30px;
        height: 10vh; }
      .tabs .display_block {
        display: block; }
      .tabs .display_none {
        display: none; }
      .tabs .tab {
        width: 100%;
        line-height: 5vh; } }

/* HEADER STYLES */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./coverphoto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  color: white; }
  .header .app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .header .app-title {
    font-size: 7rem;
    display: inline-block;
    z-index: 1; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.container-fluid {
  width: 100vw; }

/* MAP STYLES */
.map {
  background-color: #272C2F; }
  .map .button-zoom {
    display: inline-block;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    color: black;
    font-size: 2rem;
    background-color: #FFF;
    border: 1px solid #272C2F; }

/* SEARCHBAR STYLES */
.searchbar {
  margin: 10px; }
  .searchbar input {
    width: 30%;
    height: 30px;
    border: 1px solid black; }
    .searchbar input::placeholder {
      text-align: center; }
  .searchbar button {
    height: 30px;
    width: 30px;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    margin-right: 5vw; }
  .searchbar .select {
    width: 33%;
    height: 30px;
    border: 1px solid black;
    margin-left: 5vw;
    background-color: white; }
    .searchbar .select:focus {
      background-color: white; }

/* TABLE STYLES */
.countries-table {
  display: flex;
  justify-content: center;
  width: 100%; }
  .countries-table .countries-table-header {
    background-color: #272C2F;
    color: #FFF;
    width: 50%; }
  .countries-table tbody tr:hover {
    cursor: pointer;
    color: #000; }
  .countries-table tbody tr:nth-child(even) {
    background-color: #ECEFF1; }

/* MODAL STYLES */
.modal {
  padding: 20px;
  border-radius: none;
  text-align: center;
  background-color: #FFF;
  color: #272C2F; }
  .modal .countryName {
    background-color: #272C2F;
    color: white;
    font-size: 2rem; }
  .modal .modal-table {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .modal .modal-table .modal-left {
      text-align: left;
      flex: 1;
      padding: 5px; }
    .modal .modal-table .modal-right {
      text-align: center;
      flex: 1;
      padding: 5px; }
      .modal .modal-table .modal-right .flag {
        width: 100%;
        margin-bottom: 20px;
        -webkit-box-shadow: 7px -7px 10px -4px rgba(39, 44, 47, 0.56);
        -moz-box-shadow: 7px -7px 10px -4px rgba(39, 44, 47, 0.56);
        box-shadow: 7px -7px 10px -4px rgba(39, 44, 47, 0.56); }
      .modal .modal-table .modal-right .icon {
        margin: 20px; }
      .modal .modal-table .modal-right .wishlist-added {
        color: #ed6565; }
      .modal .modal-table .modal-right .visited-added {
        color: #58b54d; }

/* VISTED COUNTRIES AND WISHLIST STYLES */
.visited-countries-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("visitedpic.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 85vh; }

.wishlist-background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("wishlistpic.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 85vh; }

.visited-countries, .wishlist {
  text-align: left;
  padding: 50px;
  color: #FFF;
  font-size: 1.5rem;
  line-height: 2rem; }
  .visited-countries .wishlist-content, .visited-countries .visited-content, .wishlist .wishlist-content, .wishlist .visited-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center; }
    .visited-countries .wishlist-content > div, .visited-countries .visited-content > div, .wishlist .wishlist-content > div, .wishlist .visited-content > div {
      flex-grow: 1;
      min-width: 25%;
      margin: 30px; }
  .visited-countries .visited-countries-remove, .wishlist .visited-countries-remove {
    margin-left: 10px;
    color: #ed6565; }
    .visited-countries .visited-countries-remove:hover::after, .wishlist .visited-countries-remove:hover::after {
      background: #333;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      font-size: .8rem;
      display: inline-block;
      position: absolute;
      margin: 0 0 2px 5px;
      border-radius: 5px;
      padding: 5px 15px;
      z-index: 98;
      content: 'remove from visited countries list'; }
  .visited-countries .wishlist-remove, .wishlist .wishlist-remove {
    margin-left: 10px;
    color: #ed6565; }
    .visited-countries .wishlist-remove:hover::after, .wishlist .wishlist-remove:hover::after {
      background: #333;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      font-size: .8rem;
      display: inline-block;
      position: absolute;
      margin: 0 0 2px 5px;
      border-radius: 5px;
      padding: 5px 15px;
      z-index: 98;
      content: 'remove from wishlist'; }
  .visited-countries .wishlist-mark, .wishlist .wishlist-mark {
    margin-left: 10px;
    color: #58b54d; }
    .visited-countries .wishlist-mark:hover::after, .wishlist .wishlist-mark:hover::after {
      background: #333;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      font-size: .8rem;
      display: inline-block;
      position: absolute;
      margin: 0 0 2px 5px;
      border-radius: 5px;
      padding: 5px 15px;
      z-index: 98;
      content: 'move to visited'; }
  .visited-countries .visited-summary, .visited-countries .wishlist-summary, .wishlist .visited-summary, .wishlist .wishlist-summary {
    text-align: center;
    margin: 20px 0 20px 0;
    font-weight: 900; }

/* QUIZ STYLES */
.quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("quizpic.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  color: #FFF; }
  .quiz .quiz-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .quiz .capitalInput {
    height: 37px;
    border-radius: 3px;
    margin: 15px 5px 10px 5px;
    padding: 5px;
    display: inline-block;
    width: 30vw; }
    @media only screen and (max-width: 600px) {
      .quiz .capitalInput {
        width: 40vw; } }
  .quiz .checkAnswer {
    background-color: #5297bf;
    color: #000; }
    .quiz .checkAnswer:hover {
      background-color: #3c7da2; }
  .quiz .getCountry {
    background-color: #272C2F; }
    .quiz .getCountry:hover {
      background-color: #101213; }
  .quiz .checkAnswer, .quiz .getCountry {
    margin: 10px;
    padding: 10px;
    width: 30vw;
    display: inline-block;
    border-radius: 3px; }
    @media only screen and (max-width: 600px) {
      .quiz .checkAnswer, .quiz .getCountry {
        width: 40vw; } }
  .quiz .checkAnswer-disabled {
    background-color: grey;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 30vw;
    display: inline-block;
    border-radius: 3px; }
    @media only screen and (max-width: 600px) {
      .quiz .checkAnswer-disabled {
        width: 40vw; } }
  .quiz .score-reset {
    background-color: #FFF;
    color: #272C2F;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.75rem; }
    .quiz .score-reset:hover {
      background-color: #e6e6e6; }
  .quiz .output {
    height: 1.5rem; }
  .quiz .score {
    margin-top: 20px;
    font-weight: 700; }

/* FOOTER STYLES */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272C2F;
  height: 5vh;
  color: white; }
